[Unit]
Description=Store device time to persistent storage
[Service]
Type=oneshot
ExecStart=/usr/bin/timesymc.sh
RemainAfterExit=true
[Install]
WantedBy=default.target
